# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio
.vs/
*.suo
*.user

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*

# Uploads
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep

# Production secrets
appsettings.Production.json

# Environment
.env

.DS_Store

